<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="printers_Stocktaking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <printers_Stocktaking.Properties.Settings>
            <setting name="DB__Address" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DB_Port" serializeAs="String">
                <value>5432</value>
            </setting>
            <setting name="DB_Name" serializeAs="String">
                <value>Printers</value>
            </setting>
        </printers_Stocktaking.Properties.Settings>
    </applicationSettings>
</configuration>